
#attract_scope{
	fill:rgb(220,220,220);
	stroke:black;
	stroke-width:0.5px;
}

#orient_scope{
	fill:rgb(180,180,180);
	stroke:black;
	stroke-width:0.5px;
}

#repell_scope{
	fill:rgb(255,255,255);
	stroke:black;
	stroke-width:0.5px;

}

#speed{
	fill:white;
	stroke:black;
	stroke-width:0.5px;
}

.agent {
	opacity:1;
}

