body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
  font-family: "Ruda", sans-serif;
  padding:20px;
}

.toolbox {
	display: flex;	
	justify-content:center;
}

.toolbox .display-panel {
	padding: 10px;
}

.toolbox .control-panel {
	padding: 10px;
}
